<mat-card id="header">
  <mat-card-header id="logo">
    <mat-card-title>Dgitelc</mat-card-title>
    <mat-card-subtitle>Equipos & Sistemas</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions align="end" id="acts">
    <a *ngIf="isLogged" [routerLink]="['/inventario']">Inventario</a>
    <a *ngIf="isLogged" [routerLink]="['/ordenesTrabajo']">OrdenesTrabajo</a>
    <a *ngIf="isLogged" [routerLink]="['/gestionUsuarios']">Gestion Usuarios</a>
    <a href="/" *ngIf="!isLogged">Home</a>
    <mat-icon *ngIf="isLogged">account_box</mat-icon>
    <button mat-button (click)="openlogin()">{{ isLogged ? 'Cerrar sesión' : 'Iniciar sesión' }}</button>
  </mat-card-actions>
</mat-card>