<h1 mat-dialog-title>Editar Orden de Trabajo</h1>
<div mat-dialog-content>
  <form [formGroup]="editarForm">
    <mat-form-field>
      <input matInput placeholder="ID" formControlName="id">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Tarea" formControlName="tarea">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Fecha" formControlName="fecha">
      <mat-datepicker-toggle matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Estado" formControlName="estado">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Cliente" formControlName="cliente">
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancelar</button>
  <button mat-button color="primary" (click)="onSaveClick()">Guardar</button>
</div>
